*{
    font-family: 'Montserrat', sans-serif;
}

html,body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.v-input{
    transition: box-shadow 0.3s ease-in-out;
    width: 100%;
    border: 1px solid var(--bs-gray-300);
    border-radius: 4px;
    height: 35px;
    outline: none;
    text-align: center;
}

.v-input:focus{
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 0px 4px rgba(13,110,253,0.3);
}

.v-input:hover{
    transition: border 0.4s ease-in-out;

    border: 1px solid var(--bs-gray-500);
}